/* color variable */
body{
    font-family: mukta,sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;   
    align-items: center;
    font: size 0.9rem; 
    background-color: gray;
}
table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px gray;
    background-color: white;
    text-align: left;
    overflow: hidden;

}
thead{
    box-shadow:0 5px 10px gray;
}
th{
   padding: 1rem 2rem; 
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-size: 0.7rem;
   font-weight: 900;

}
td{
    padding: 1rem 2rem;
}
a{
    text-decoration: none;
    color:blue;
}
.status{
    border-radius: 1px;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
.pending{
    background-color: sandybrown;
    color: sienna;
}
